<!DocType HTML>

<HTML>
	<Head>
		<Meta Charset = "UTF-8" />
		<Title>Settings | What You're Playing</Title>

		<Script Src = "../lib/materialize.js"></Script>
		<Link Rel = "StyleSheet" Href = "../lib/materialize.css" />
		<Link Rel = "StyleSheet" Href = "../lib/Material Icons/material-icons.css" />

		<Script Src = "../lib/Locale.js"></Script>
		<Script Src = "settings.js" Defer></Script>
		<Link Rel = "StyleSheet" Href = "settings.css" />
	</Head>

	<Body>
		<Header Class = "navbar-fixed">
			<Nav>
				<Div Class = "nav-wrapper">
					<Span Class = "brand-logo center">
						<Img Class = "logo-icon" Src = "/icons/icon128.png" />
						What You're Playing
					</Span>

					<UL Class = "right">
						<Li Class = "switch">
							<Label>
								<Input ID = "enabled" Type = "Checkbox" />
								<Span Class = "lever"></Span>
							</Label>
						</Li>
					</UL>
				</Div>
			</Nav>
		</Header>

		<Main>
			<Div Class = "input-field">
				<Input ID = "instance" Type = "Text"/>
				<Label For = "instance">
					<Locale Message = "setting_instance">Your instance</Locale>
					(ex: <A Href = "https://itabashi.0j0.jp" Target = "_blank">https://itabashi.0j0.jp</A>)
				</Label>
			</Div>

			<Div Class = "input-field">
				<Input ID = "token" Type = "Text"/>
				<Label For = "token" Locale-Message = "setting_token">Your token(Required permission to write)</Label>
			</Div>

			<Div Class = "input-field">
				<Select ID = "privacy">
					<Option Name = "privacy.public" Value = "public" Locale-Message = "setting_privacy_public">Public</Option>
					<Option Name = "privacy.unlisted" Value = "unlisted" Locale-Message = "setting_privacy_unlisted">Unlisted</Option>
					<Option Name = "privacy.private" Value = "private" Locale-Message = "setting_privacy_private">Private</Option>
					<Option Name = "privacy.limited" Value = "limited" Locale-Message = "setting_privacy_limited">Limited(Only for implemented instances)</Option>
					<Option Name = "privacy.direct" Value = "direct" Locale-Message = "setting_privacy_direct">Direct</Option>
				</Select>

				<Label Locale-Message = "setting_privacy">Privacy</Label>
			</Div>

			<Div>
				<Button ID = "btns_save" Class = "btn waves-effect waves-light">
					<I Class = "material-icons left">save</I>
					<Locale Message = "setting_save">Save the changes</Locale>
				</Button>

				<Button ID = "btns_close" Class = "btn red waves-effect waves-light">
					<I Class = "material-icons left">close</I>
					<Locale Message = "setting_close">Discard the changes</Locale>
				</Button>
			</Div>
		</Main>
	</Body>
</HTML>